@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --theme-dark : rgb(50,52,54);
  --theme-darker: rgb(36,37,38);
}

body{
  background-color: var(--theme-darker);
}
::-webkit-scrollbar{
  display: none;
}
.animate_collapse_down{
  animation: collapse_down 100ms ease-in-out forwards;
}
.container .content:last-child{
  margin-bottom: 20vh;
}
.pulse{
  animation: pulse 1s ease-in-out infinite;
}
.super_parent .content:last-child{
    && .dialogue{
      display: flex;
    }
}
.super_parent .content:nth-last-child(2) {
  && .dialogue{
    display: flex;
  }
}
@keyframes wrong_wiggle{
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateX(-100);
  }
  66%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100);
  }
}
@keyframes pull_down{
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}

@keyframes push_up{
  0%{
    height: 0vh;
  }
  100%{
    height: 35vh;
  }
}
.push_up{
  animation: push_up 100ms ease-in-out forwards;
}

@keyframes pull_down {
  0%{
    height: 35vh;
  }
  100%{
    height:0;
    /* display: none; */
  }
}
.pull_down{
  animation: pull_down 100ms ease-in-out forwards;
}


@keyframes pulse{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    opacity: 0.3;
    transform: translateY(0);
  }
}
/* @keyframes expand_emoji_icon {
  0%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}
@keyframes shrink_emoji_icon {
  0%{
    width: 100%;
  }
  100%{
    width: 75%;
  }
} */
