@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --theme-dark : rgb(50,52,54);
  --theme-darker: rgb(36,37,38);
}

body{
  background-color: var(--theme-darker);
}
::-webkit-scrollbar{
  display: none;
}
@keyframes wrong_wiggle{
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateX(-100);
  }
  66%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100);
  }
}
@keyframes pull_down{
  0%{
    height: 30vh;
  }
  100%{
    height: 0;
  }
}
@keyframes push_up{
  0%{
    height: 0;
  }
  100%{
    height: 30vh;
  }
}
